:root {
    --col1bg: #FFF;
    --col1fg: #000;
    --col2bg: #FFF;
    --col2fg: #000;
    --col3bg: #FFF;
    --col3fg: #000;
    --col4bg: #FFF;
    --col4fg: #000;
}

body {
    margin: 0 auto;
    width: 1024px;
    background: var(--col1bg);
    color: var(--col1fg);
}

a        {color: #00F;}
a:hover  {color: #A0A;}
a:active {color: #F00;}

p {text-indent: 1em;}

hr {
    border: unset;
    height: 1px;
    background: var(--col4fg);
}

.navbar {
    border: 1px solid var(--col4fg);
    box-shadow: 3px 3px 0px -1px var(--col4bg),
                3px 3px 0px -0px var(--col4fg);
    background: repeating-linear-gradient(var(--col3bg),
                                          var(--col3bg) 2px,
                                          var(--col4fg) 2px,
                                          var(--col4fg) 3px);
    color: var(--col3fg);
    font-weight: bold;
}
.tabbar {
    display: table;
    padding: 0px 7px;
}

.tab, .tab:hover {
    display: table-cell;
    padding: 1px 7px;
    background: var(--col3bg);
    color: var(--col3fg);
    text-decoration: unset;
}
.tab:active {
    background: var(--col3fg);
    color: var(--col3bg);
}
.sep {
    display: table-cell;
    width: 1px;
    background: var(--col4fg);
}
.pad {
    display: table-cell;
    width: 7px;
}

.heading {
    display: inline-block;
    border: 1px solid var(--col4fg);
    box-shadow: 5px 1px 0px -3px var(--col4bg),
                5px 3px 0px -3px var(--col4bg),
                5px 1px 0px -2px var(--col4fg),
                5px 2px 0px -2px var(--col4fg);
    border-bottom: unset;
    padding: 1px 7px;
    background: var(--col3bg);
    color: var(--col3fg);
    font-weight: bold;
}

.chunk {
    border: 1px solid var(--col4fg);
    box-shadow: 3px 3px 0px -1px var(--col4bg),
                3px 3px 0px -0px var(--col4fg);
    padding: 7px;
    background: var(--col2bg);
    color: var(--col2fg);
}

.note {
    border: 1px solid var(--col4fg);
    padding: 7px;
    font-style: italic;
}